.inner-new-container {
     margin: 0 auto;
     height: 100%;
     width: 960px;
     padding-left: 15px;
     padding-right: 15px;
     display: block;
     position: relative;
     z-index: 0;
 }
.row.is-flex {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    height: auto;
}
#content a {
    margin-top: 20px;
}
#content #page-top{
    display: none;
}
.row.is-flex > [class*='col-'] {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
}
.fb-title{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 32px;
    color: #28232A;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #EFF6FB;
    padding: 28px 0;
}
h2.fb-title__none{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    font-size: 32px;
    color: #28232A;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 28px 0;
}
#content .fp-promo__h1{
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 30px;
    color: #fff;
}
.fp-promo{
    background-image: url(../img/54fz-images/preview.png);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.fp-promo:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(179.59deg, #383838 -41.46%, rgba(31, 31, 31, 0) 183.54%);
}
.fp-promo .container{
    position: relative;
    z-index: 1;
}
.main{
    text-align: center;
}
.main h2,
#content .main h2 {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.main p{
    color: #fff;   
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: -0.15px;
}

.main a,
#content .main a{
    display: block;
    max-width: 230px;
    margin: 0 auto;
    color: #fff;
    padding: 13px 17px;
    font-size: 17px;
    background-color: #45B753;
    border-radius: 4px;
    margin-bottom: 70px;
    text-decoration: none;
}
.fp-content__title{
    font-weight: bold;
    line-height: 24px;
    font-size: 24px;
    color: #28232A;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 40px;
}
.fp-content__bcolor{
    background: #FFFAED;
}
#content .content ol{
    margin-left: 15px;
}
#content .content_2 ol{
    margin-left: 0px;
}
#content .content_2{
    margin-left: -15px;
}
#content .content_2 a{
}
.content>ol{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 50px;
}
.content li{
    margin-bottom: 20px;
}
#content .content li a{
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #28232A;;
    text-decoration: none;
    padding-left: 15px;
}
 #content .content li a:hover{
    color: #00838F;
}
.new-terms__item{
    margin-bottom: 50px;
}
.new-terms__item h3{
    margin-top: 30px;
}
.new-terms__item p{
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 15px;
    color: #28232A;
}
.fp-amendments-and-changes__bcolor{
    background: #FAFAFA;
}
.amendments-and-changes__item{
    margin-bottom: 50px;
    background: #FAFAFA; 
}
.amendments-and-changes__item img{
    margin-bottom: 30px;
}
.amendments-and-changes__item p{
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    color: #28232A;
}
.fp-objectives-law__title{
    font-weight: normal;
    line-height: 42px;
    font-size: 32px;
    text-align: center;
    color: #28232A;
    margin-top: 10px;
    margin-bottom: 50px;
}
.objectives-law__item{
    margin-bottom: 30px;
}
.objectives-law__item p{
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    color: #28232A;
}
.objectives-law__item p span{
   font-weight: bold; 
}
.new-order__item p{
    margin-bottom: 20px;
    font-size: 16px;
}
.new-requirements__item{
    text-align: center;
    margin-bottom: 70px;
}
.new-requirements__item p{
    font-size: 15px;
}
.new-requirements__item h3 {
    font-weight: 700;
}
.new-requirements__item img{
    margin-bottom: 10px;
}
#content .fp-new-order__title{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 32px;
    color: #28232A;
    padding: 28px 0;
    background-color: #EFF6FB;
    margin-top: 10px;
    margin-bottom: 50px;
}
.fp-law{
    background-color: #455A64;
}
.fp-crf__bcolor{
    background: #FAFAFA;
    padding-bottom: 20px;
}
#content .terms-transition{
    color: #FFFFFF;
}
#content .fp-law h2{
    margin-top: 70px;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 32px;
    color: #fff;
}
.fp-law__item{
    position: relative;
    padding-left: 20px;
    background-image: url(../img/54fz-images/cash_register.png);
    background-repeat: no-repeat;
    background-position:99% 0px;
    padding-bottom: 70px;
}

.fp-law__item h3,
#content .fp-law__item h3{
    font-weight: bold;
    line-height: 24px;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}
.fp-law__item p{
    color: #FFFFFF;
    margin-bottom: 15px;
}
.fp-law__item>div{
    padding-left: 20px;
    padding-bottom: 50px;
    position: relative;
}
.fp-law__item>div:after{
    content: "";
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    top: 4px;
    left: -2px;
    background-color: #556A74;
    z-index: 1;
    
}
.fp-law__item>div:last-child:after{
    display: none; 
}
.fp-law__item h3{
    position: relative;
}
.fp-law__item h3 span{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: -29px;
    z-index: 2;
} 
.fp-tip__bcolor{
    background: #FAFAFA;
    padding-bottom: 50px;
}
.fp-tip__item{
    text-align: center;
}
.fp-tip__item img{
    margin-top: 50px;
    margin-bottom: 0;
}
.fp-tip__item h3{
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #28232A;
    margin-bottom: 20px;
}
.fp-tip__application{
    border: 2px solid #45B753;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
}
.fp-tip__application h3{
    font-weight: normal;
    line-height: 40px;
    font-size: 32px;
    color: #28232A;
    margin-top: 0;
}

.fp-should-apply{
    text-align: center;
}
.fp-should-apply img{
    margin-bottom: 10px;
}
.fp-should-apply__item{
    margin: 20px 0;
}
.fp-should-apply__item h3 {
    font-weight: 700;
}
.fp-small-business__title{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 32px;
    color: #28232A;
    margin: 50px 0;
}
.fp-small-business ul{
    list-style-type: none;
    padding-left: 0;
}
.fp-small-business ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#content .fp-small-business_h3 {
    margin-bottom: 30px;
}
.icon-holder{
    flex: 0 0 38px;
    margin-right: 22px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    background-color: #45B753;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.fp-small-business ul li p{
    margin: 0;
    padding: 0;
}
.fp-fiscal-storage {
    margin-top: 70px;
}
.fp-fiscal-storage__bcolor1{
    background: #FAFAFA;
}
.fp-fiscal-storage__bcolor2{
    background: #F5F5F5;
    padding: 70px 0 60px;
}
.fp-fiscal-storage__bgcolor2 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.fp-tip__application h4{
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    color: #28232A;
}
.fp-tip__application a{
    font-weight: normal;
    line-height: 24px;
    font-size: 24px;
    text-decoration-line: underline;
    color: #2B52B8;
}
.fiscal-storage__img{
    padding-right: 20px;
}
.fiscal-storage__img img {
    max-width: 100%;
}
.fiscal-storage__p{
    padding-top: 20px;       
}
.fiscal-storage__item{
    text-align: center;
}
.term-fiscal span{
        color: gray;
    padding-bottom: 5px;
    display: block;
}
.term-fiscal__h3{
    font-weight: normal;
    line-height: 40px;
    font-size: 32px;
}
.term-fiscal_h3{
   font-size: 24px; 
   /*margin-bottom: 20px;*/
   text-align: left !important;
   margin-bottom: 30px !important;
   margin-top: 0px !important;
}
.term-fiscal__application{
    border: 2px solid #E2574C;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}
.term-fiscal__application .col-md-2{
    text-align: center;
    padding-top: 30px;
}
.fp-crf {
    margin-top: 70px;
}
.fp-crf a{
    line-height: 24px;
    font-size: 24px;
    text-decoration-line: underline;
    color: #2B52B8;
}
.fp-crf__item{
    text-align: center;
}
.fp-crf__item img{
    margin-bottom: 20px;
}
.fp-crf__p{
    margin-top: 30px;
}
.fp-transmit__bcolor1{
    background: #F7FCFD;
    margin-top: 70px;
}
.fp-transmit__bcolor2{
    background: #ECF6F8;
    padding-top: 30px;
}
.fp-transmit span{
    text-decoration: underline;
}
.fp-transmit h3{
    font-size: 24px;
   margin-top: 0; 
}
.registration-of-online{
    text-align: center;
}
.registration-of-online__item{
    margin: 50px auto;
    text-align: left;
    padding: 29px;
    max-width: 620px;
    border: 2px solid #E2574C;
    box-sizing: border-box;
    border-radius: 8px;   
}
.registration-of-online__item h3{
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
}
.registration-of-online__h3{
    font-weight: normal;
    line-height: 24px;
    font-size: 24px;
    margin-top: 89px;
}
.registration-of-online .online-shem{
    margin: 30px 0;
}
.fp-allows p{
    margin-top: 30px;
}
.fp-what-does{
    text-align: center;
}
.fp-what-does__item{
    text-align: left;
}
.what-does__item span{
    font-weight: bold;
}
.what-does__item{
    margin: 50px auto;
    text-align: left;
    padding: 29px;
    max-width: 690px;
    border: 2px solid #E2574C;
    box-sizing: border-box;
    border-radius: 8px;   
}
.what-does__item h3{
    margin: 0;
    margin-bottom: 20px;
}
.fp-check-correction{
    text-align: center;
}
.fp-check-correction img{
    margin: 50px 0;
}
.fp-electronic-checks img{
    margin-bottom: 30px;
}
#contant .fp-electronic-checks p{
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 16px;
    color: #28232A;
}
.fp-electronic-checks h3{
    font-weight: bold;
    line-height: 22px;
    font-size: 24px;
    text-align: center;
    margin: 50px 0;
}
.pt-70 {
    padding-top: 70px;
}
.mt-70 {
    margin-top: 70px;
}
.fp-electronic-checks__bcolor{
    background: #F7FCFD;
    padding-bottom: 50px;
}
.fp-electronic-checks__bcolor2{
    background: #ECF6F8;
}
.fp-electronic-checks__item{
    text-align: center;
}
.fp-electronic-checks__Pri{
    text-align: center;
}
.fp-penalties-for-online{
    background: linear-gradient(270deg, #363736 0%, #202120 60.01%);
    color: #fff;
}
#content .fp-penalties-for-online__title{
    text-align: center;
    margin-top: 70px;
    color: #fff;
}
.fp-penalties-for-online p{
    color: #DADADA;
    text-align: center;
    margin: 30px 0;
}
.fp-penalties-for-online__item{
    text-align: left;
    background-image: url(../img/54fz-images/Group1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 70px;
    padding-top: 70px;
}
#content .fp-penalties-for-online__item h3{
    color: #fff;
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
    }
.fp-penalties-for-online__item p{
    color: #DADADA;
    text-align: left;
}
.table-fee{
  border: none;
  width: 100%;        
}
.table-fee tr td:nth-child(1) {
 width: 33.2%;
}


.table-fee tr td:nth-child(3) {
 width: 30%;
 box-sizing: border-box;
}

.table-fee tbody td:not(:first-child) {
 color: #DADADA;
}

.table-fee tbody tr:first-child td:not(:first-child) {
 line-height: 20px;
}
.table-fee td{
    padding: 30px 0;
}
.table-fee td:first-child{
    font-weight: bold;
    padding-right: 2px;
}
.table-fee thead td{
    font-weight: bold;
}
.table-fee tr:not(:last-child){
    border-bottom: 1px solid #474747;
}
.table-fee thead tr td{
    border-bottom: 1px solid #474747;
}
.popular-questions__item .popular-questions__item__content{
    display: none;
}
/*
.popular-questions__item.popular-questions__item-open .popular-questions__item__content{
    
}
*/
.popular-questions__item h3{
    position: relative;
    padding: 21px 66px 21px 21px;
    cursor: pointer;
}
.popular-questions__item h3 .arrow-down{
    position: absolute;
    width: 22px;
    height: 22px;
    right: 22px;
    top: 50%;
    margin-top: -11px;
}
.popular-questions__item h3 .arrow-down path{
    fill: #C3C3C3;
    transition: fill 350ms;
}
.popular-questions__item-open path{
    fill: #D9B16A !important;
}
.popular-questions__item h3 .arrow-down{
    transition: transform 350ms;
}
.popular-questions__item-open .arrow-down{
    transform: rotate(180deg);
}
.popular-questions__item:first-child .popular-questions__item__content{
    display: block;
}
.popular-questions__item__content{
    margin-left: 20px;
}
.popular-questions-pt{
    margin-bottom: 90px;
}
.popular-questions__item h3{
    background: #FAFAFA;
    border-radius: 8px;
}
.popular-questions__item-open h3{
    background: #FFF6E6;
    border-radius: 8px;
}


.bg-line {
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
    border: none;
    margin-bottom: 30px;
    margin-top: 0;
}

#content .fp-online-cashier__item h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
}
#content .popular-online__title{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
}

.fiscal-storage__item h3 {
    font-weight: 700 !important;
    font-size: 19px !important;
    margin-bottom: 20px !important;
}
@media (max-width: 425px ) 
{
    .fp-new-order__title,
    .fp-small-business__title,
    .fb-title
    {
        line-height: 1.3!important;
    }

    .what-does__item .col-md-2,
    .registration-of-online__item .col-md-2,
    .term-fiscal__application .col-md-2,
    .fp-tip__application .col-md-2
    {
        display: none;
    }

    .what-does__item .col-md-10,
    .registration-of-online__item .col-md-10,
    .term-fiscal__application .col-md-10,
    .fp-tip__application .col-md-10
    {
        width: 100%;
        margin: 10px 0px;
    }

    
    .what-does__item .col-md-10 h3,
    .registration-of-online__item .col-md-10 h3,
    .term-fiscal__application .col-md-10 h3,
    .fp-tip__application .col-md-10 h3
    {
        font-size: 24px;
        line-height: 1.3;
        padding: 0px;
    }

    #what-changed,
    #what-fiscal,
    #what-crf
    {
        margin:0px;
    }
    .objectives-law__item
    {

    }
    .objectives-law__item .fiscal-storage__img
    {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .objectives-law__item .col-md-9
    {
        width: 100%;
    }
    #newterms,
    #who-moves
    {
        margin-top: 15px!important;
        margin-bottom: 20px!important; 
    }
    .new-terms__item h3
    {
        padding: 0px;
    }
    .term-fiscal img
    {
        display: none;
    }
    .term-fiscal h3
    {
        padding:0px;
    }
    .fp-how-to-start .col-md-6
    {
        width:100%;
    }
    .fp-transmit .fb-title__none
    {
        margin: 0px;
    }
    .fp-transmit h3
    {
        padding: 0px;
    }
    .popular-questions-pt
    {
        margin-bottom: 0px;
    }

    .woocommerce
    {
        margin-bottom: 0px!important;
    }
    .popular-ok-for-fz54 .lmp_button
    {
        display: none!important;
    }
    .popular-ok-for-fz54
    {
        padding-bottom: 0px!important;
    }
    .woocommerce ul.products {
        padding: 20px 10px !important;
        margin: 0 !important;
    }

    .woocommerce .products .linker, .woocommerce .products .button {
        float: left;
        margin-bottom: -15px !important;
            z-index: 9;
        position: relative;
    }
    .woocommerce ul.products li.product
    {
        width: 100%;
    }
    .woocommerce ul.products li.product a {
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            padding: 8px;
            color: #00838f;
    }
    .woocommerce img.attachment-shop_catalog.size-shop_catalog.wp-post-image {
        height: auto !important;
        margin: 0 !important;
        position: static;
         float: none; 
             display: flex !important;
                 float: left;
    }
    .woocommerce ul.products li.product h3 {
        float: none;
        width: 70%;
        padding: 0;
        text-align: center;
        margin-top: -10px;

        padding: 0px;
    }
    
    .woocommerce ul.products li {
        width: 100% !important;
        float: left !important;
        margin: 0 0 20px !important;
        padding: 0 !important;
        position: relative;
        background: #fff;
        height: 165px;
        visibility: visible;
    }
    
    .woocommerce ul.products li, .woocommerce ul.products li:nth-child(2n) {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        border: 1px solid #cccccc52;
        height: auto;
        margin: 10px 0;
        background-color: #fff;
    }
    .woocommerce ul.products li.product .price {
        margin: 0px!important;
        padding: 0px;
        width: 70%;
        float: right;
        bottom: 20px;
        position: relative;
        text-align: center;
        margin-top: -15px;
    }
    .woocommerce~br,
    #content>br,
    #main~br
    {
        display: none;
    }
    .mobile-footer
    {
        margin-top: 0px;
    }
}
.fp-electronic-checks h3,
.fp-what-does__item h3
{
    padding:0px;
}

@media (max-width: 425px )
{
    .fp-electronic-checks .col-md-7,
    .fp-electronic-checks .col-md-5,
    .fp-what-does__item .col-md-6
    {
        width: 100%;
        text-align: center;
    }
    
    .fp-penalties-for-online .table-fee td
    {
        font-size: 12px;
        padding: 8px 10px;
    }
    .fp-penalties-for-online .container
    {
        padding: 0px 5px;
    }
}
@media (max-width:1160px)
{
    .popular-questions__item h3 {
        font-weight: bold!important;
        padding-left: 15px!important;
    }
}

@media screen and (max-width: 1160px)
{
    .popular-ok-for-fz54 ul.products .yith-wcbm-badge {
        top: -16px;
        left: 0px;
        height: 35px;
        margin: 0;
        line-height: 35px;
        font-size: 16px;
        width: auto;
        max-width: 100%;
        text-align: left;
        padding: 0;
        position: absolute;
    }
    .popular-ok-for-fz54 ul.products .yith-wcbm-badge img {
        display: inline-block !important;
        margin: 0;
        height: 100% !important;
        width: auto !important;
        max-width: 100%;
    }
    .popular-ok-for-fz54 ul.products li.product a
    {
        padding:0px!important;
    }
    .popular-ok-for-fz54 ul.products img.attachment-shop_catalog.size-shop_catalog.wp-post-image {
        width: 94px !important;
        height: 94px !important;
        margin: 0 !important;
        top: 25px;
        left: 15px;
        padding: 0;
        position: relative;
    }
    .popular-ok-for-fz54 ul.products li
    {
        height: 200px!important;
        
    }
    [class*="popular-ok"] .woocommerce ul.products li:not(:last-child)
    {
        margin-bottom: 40px!important;
    }
    .popular-ok-for-fz54 ul.products .linker
    {
        bottom: 0px;
        position: absolute!important;
    }
    .popular-ok-for-fz54 ul.products .button {
        left: auto;
        right: 0px;
        bottom: 0px;
        position: absolute!important;
    }
    .popular-ok-for-fz54 h3
    {
        font-size: 15px !important;
        line-height: 23px !important;
        max-height: 70px;
        font-weight: normal !important;
        min-height: 21px;
        text-align: left!important;
        display: block;
        position: absolute;
        left: 125px;
        
        right: 10px;
        /* word-wrap: break-word; */
        width: auto!important;      
    }
    .popular-ok-for-fz54 .price
    {
        font-size: 20px !important;
        color: #28232A;
        left: 125px;
        text-align: left!important;
        float: left!important;
        margin-top: 10px!important;
    }
    .popular-ok-for-fz54 .price .amount
    {
        color: inherit!important;
        font-size: inherit;
        font-weight: inherit;
    }
    .container-image-and-badge
    {
        position: initial;
    }
}